// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$blue;
	font-weight: bold;
	font-size: 50px;
	line-height: 1;
	}
p {
	margin-bottom:1em;
	&.note {
		color:lighten($grey, 25%);
		}
	}
