// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	color:$blue;
	font-weight: bold;
	font-size: 50px;
	line-height: 1;
	margin: -9px 0 ($minorGridY - 9px) 0; // font adjustment
	}
p {
	margin: -10px 0 ($minorGridY + 10px) 0;
	&.note {
		color:rgba(black,.33);
		}
	}
