// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------

ol, ul {

	margin: -10px 0 ($minorGridY + 10px) $minorGridX;
	counter-reset:list;

	li {

		page-break-inside:avoid;
		text-indent:-$minorGridX/2;

		// Marker

		&::before {
			display:inline-block;
			width:$minorGridX/2;
			color:$blue;
			font-weight: bold;
			text-align:left;
			}

		}

	ol, ul {
		margin-top:0;
		margin-bottom:0;
		}

	}

// Markers

ul > li::before {
	padding-right:0.5em;
	content:'▪';
	}
ol > li::before {
	padding-right:0.4em;
	counter-increment:list;
	content:counter(list)'.';
	}
