// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------

ol, ul {

	margin-left:2em;
	margin-bottom:1em;
	counter-reset:list;

	li {

		page-break-inside:avoid;
		text-indent:-2em;

		// Marker

		&::before {
			display:inline-block;
			width:2em;
			color:$blue;
			font-weight: bold;
			text-align:right;
			}

		}

	ol, ul {
		margin-bottom:0;
		}

	}

// Markers

ul > li::before {
	padding-right:0.5em;
	content:'▪';
	}
ol > li::before {
	padding-right:0.4em;
	counter-increment:list;
	content:counter(list)'.';
	}
