// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {
	color:$blue;
	padding-top: $minorGridY;

	&::before {
		position:absolute;
		margin:-0.25em 0 0 -0.3em;
		line-height:1;
		font-size:8em;
		content:'\201C';
		}

	// Author

	& + figcaption {
		margin:-($minorGridY + 10px) 1em 0 -10px;
			&::before {
				content: "—";
			}
		}

	}
