// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {
	color:$blue;

	&::before {
		position:absolute;
		margin:-0.25em 0 0 -0.3em;
		line-height:1;
		font-size:8em;
		content:'\201C';
		}

	// Author

	& + figcaption {
		margin:-1em 0 1em;
		font-weight:bold;
			&::before {
				content: "—";
			}
		}

	}
