// ------------------------------------------------------------------
// Table
// ------------------------------------------------------------------
// 1. Cells ............ Paddings and alignment
// 2. Lines ............ Row dividing lines
// 3. Stripes. ......... Background for even lines
// ------------------------------------------------------------------

table {

	margin: 0 0 $minorGridY (-$minorGridX);

	// Cells
	td, th {
		min-width: 6*$minorGridX;
		padding: 0 $minorGridX;
	}
	th {
		text-align:left;
		font-weight:bold;
		color:$blue,
		}

	// Lines

	tr:not(:last-of-type) {
		> * {
			@include underline(rgba($blue,.25), 0.055);
			}
		}

	// Stripes

	&.striped {
		tr {
			&:nth-child(even) {
				background:rgba($blue,.1);
				}
			> * {
				background-image:none;
				}
			}
		}

	}
