// ------------------------------------------------------------------
// Black
// ------------------------------------------------------------------

&.black {

	background:#FFF url(../images/background.svg) no-repeat;
	* {
		color: white !important;
	}

	}
