// ------------------------------------------------------------------
// Columns
// ------------------------------------------------------------------

.double,
.triple {
	hyphens:auto;
	}
.double {
	column-count:2;
	column-gap:2*$minorGridX;
	}
.triple {
	column-count:3;
	column-gap:1.5*$minorGridX;
	}
