// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Number ........... Slide number
// 2. Content .......... Various content types
// 3. Modifiers......... Slide modifiers
// 4. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:$minorGridY $minorGridX $majorGridY (3*$minorGridX - 1px);
	width:$width;
	height:$height;
	background:#FFF;

	// Number

	&::after {
		position:absolute;
		bottom:$minorGridY + 8px;
		right:$minorGridX - 1px;
		width:3*$minorGridX;
		height:$minorGridY;
		counter-increment:slide;
		content:counter(slide);
		text-align:right;
		font-size: 24px;
		color:$blue;
		}

	&::before {
		position:absolute;
		top:4*$majorGridY;
		left:$minorGridX + 5px;
		height:$majorGridY;
		width:1.25*$majorGridY;
		content:" ";
		background: url(../images/logo.svg) 0 0 / contain;
		}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer';

	// Modifiers

	@import
		'modifiers/grid',
		'modifiers/black',
		'modifiers/white';

	// Elements

	@import
		'elements/columns',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}
