// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Number ........... Slide number
// 2. Content .......... Various content types
// 3. Modifiers......... Slide modifiers
// 4. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:106px 60px 0 90px;
	width:$width;
	height:$height;
	background:#FFF url(../images/header.svg) no-repeat -6px 20px;
	font-size:25px;

	// Number

	&:after {
		position:absolute;
		top:3px;
		right:60px;
		padding-top:15px;
		width:50px;
		height:100px;
		color:white;
		counter-increment:slide;
		content:counter(slide);
		text-align:center;
		}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer';

	// Modifiers

	@import
		'modifiers/grid',
		'modifiers/black',
		'modifiers/white';

	// Elements

	@import
		'elements/double',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}
