// ------------------------------------------------------------------
// Progress
// ------------------------------------------------------------------

.progress {

	$size:$minorGridY/5;

	position:absolute;
	left:- $size * 2;
	bottom:-1px;
	z-index:1;
	display:none;
	width:0;
	height:0;
	box-sizing:content-box;
	border:($size + 1px) solid $blue;
	border-top: none;
	transition:width 0.2s linear;

	// Hiding corner

	&[style*='100%'] {
		padding-left:$size;
		}

	}
